### This is a practical  exercise, provided by bard
###### https://gemini.google.com/u/1/app/000b6363a5ee133b?hl=es

# STEPS

#### 1. Import the cvs file

In [181]:
### We import the pandas and init the file
import pandas as pd

df = pd.read_csv("Titanic.csv")

In [182]:
## Show all the data
print(df["Cabin"])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
414    C105
415     NaN
416     NaN
417     NaN
418     NaN
Name: Cabin, Length: 419, dtype: object

In [183]:
## Show the names of the columns
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [184]:
## Show the first five rows
print(df.head(6))

  PassengerId  Survived  Pclass                                          Name  \
0         892       0.0     3.0                              Kelly, Mr. James
1         893       1.0     3.0              Wilkes, Mrs. James (Ellen Needs)
2         894       0.0     2.0                     Myles, Mr. Thomas Francis
3         895       0.0     3.0                              Wirz, Mr. Albert
4         896       1.0     3.0  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5         897       0.0     3.0                    Svensson, Mr. Johan Cervin

      Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0    male  34.5    0.0    0.0   330911   7.8292   NaN        Q
1  female  47.0    1.0    0.0   363272   7.0000   NaN        S
2    male  62.0    0.0    0.0   240276   9.6875   NaN        Q
3    male  27.0    0.0    0.0   315154   8.6625   NaN        S
4  female  22.0    1.0    1.0  3101298  12.2875   NaN        S
5    male  14.0    0.0    0.0     7538   9.2250   NaN        S

#### 2. Filter Data

In [185]:
## Select just the rows where the sex is female
length_of_female = df.loc[df["Sex"] == 'male']
print(f"The numbers of female are: {len(length_of_female)}")
print(f'They are: ')
print(length_of_female["Name"])

The numbers of female are: 266
They are:
0                  Kelly, Mr. James
2         Myles, Mr. Thomas Francis
3                  Wirz, Mr. Albert
5        Svensson, Mr. Johan Cervin
7      Caldwell, Mr. Albert Francis
                   ...
407      Widener, Mr. George Dunton
413              Spector, Mr. Woolf
415    Saether, Mr. Simon Sivertsen
416             Ware, Mr. Frederick
417        Peter, Master. Michael J
Name: Name, Length: 266, dtype: object

In [186]:
## Select just the rows where the age is biggest than 30 years
thirty_years_old = df.loc[df['Age'] > 30]
print(f"There are: {len(thirty_years_old)} people older than 30 years old")
print(f'These persons are: ')
print(thirty_years_old['Name'])

There are: 132 people older than 30 years old
These persons are:
0                                     Kelly, Mr. James
1                     Wilkes, Mrs. James (Ellen Needs)
2                            Myles, Mr. Thomas Francis
11                          Jones, Mr. Charles Cresson
13                                Howard, Mr. Benjamin
                            ...
404                       Frauenthal, Mr. Isaac Gerald
407                         Widener, Mr. George Dunton
411    Minahan, Mrs. William Edward (Lillian E Thorpe)
414                       Oliva y Ocana, Dona. Fermina
415                       Saether, Mr. Simon Sivertsen
Name: Name, Length: 132, dtype: object

In [187]:
## Select just the people who have survived( The Survivors)

survivors = df.loc[df['Survived'] == True]
print(f'The numbers of survivors are: {len(survivors)}')
print("These persons are: ")
print(survivors['Name'])

The numbers of survivors are: 152
These persons are:
1                     Wilkes, Mrs. James (Ellen Needs)
4         Hirvonen, Mrs. Alexander (Helga E Lindqvist)
6                                 Connolly, Miss. Kate
8            Abrahim, Mrs. Joseph (Sophie Halaut Easu)
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)
                            ...
409                          Peacock, Miss. Treasteall
410                             Naughton, Miss. Hannah
411    Minahan, Mrs. William Edward (Lillian E Thorpe)
412                     Henriksson, Miss. Jenny Lovisa
414                       Oliva y Ocana, Dona. Fermina
Name: Name, Length: 152, dtype: object

#### 3. Modify Data

In [188]:
## Create a column calling surname, that mix the name and the lastname of the passenger

# df['fullname'] = df['Name'] + df['']

In [189]:
## change the value of the column Sex  to M when it is male and F when it is female
df.loc[df['Sex'] =='male', "Sex"] = "M"  # From male to M
df.loc[df['Sex'] == "female", "Sex"] = "F"  # From female to F
print(df["Sex"])

0        M
1        F
2        M
3        M
4        F
      ...
414      F
415      M
416      M
417      M
418    NaN
Name: Sex, Length: 419, dtype: object

In [190]:
## Deleted the column cabin
# I've not deleted from the original DB, i've
df_deleted_cabin = df.drop(columns= ["Cabin"]) 
print(df_deleted_cabin)

    PassengerId  Survived  Pclass  \
0           892       0.0     3.0
1           893       1.0     3.0
2           894       0.0     2.0
3           895       0.0     3.0
4           896       1.0     3.0
..          ...       ...     ...
414        1306       1.0     1.0
415        1307       0.0     3.0
416        1308       0.0     3.0
417        1309       0.0     3.0
418         ghj       NaN     NaN

                                             Name  Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    M  34.5    0.0    0.0
1                Wilkes, Mrs. James (Ellen Needs)    F  47.0    1.0    0.0
2                       Myles, Mr. Thomas Francis    M  62.0    0.0    0.0
3                                Wirz, Mr. Albert    M  27.0    0.0    0.0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)    F  22.0    1.0    1.0
..                                            ...  ...   ...    ...    ...
414                  Oliva y Ocana, Dona. Fermina    F  39.0    0.0    0.0
415                  Saether, Mr. Simon Sivertsen    M  38.5    0.0    0.0
416                           Ware, Mr. Frederick    M   NaN    0.0    0.0
417                      Peter, Master. Michael J    M   NaN    1.0    1.0
418                                           NaN  NaN   NaN    NaN    NaN

                 Ticket      Fare Embarked
0                330911    7.8292        Q
1                363272    7.0000        S
2                240276    9.6875        Q
3                315154    8.6625        S
4               3101298   12.2875        S
..                  ...       ...      ...
414            PC 17758  108.9000        C
415  SOTON/O.Q. 3101262    7.2500        S
416              359309    8.0500        S
417                2668   22.3583        C
418                 NaN       NaN      NaN

[419 rows x 11 columns]

#### 4 Group data

In [191]:
## Group the data by the class of the passenger and calculate the quantity of passengers in each class'
one_class = df.loc[df['Pclass'] == 1]

two_class = df.loc[df["Pclass"] ==2 ]

three_class = df.loc[df["Pclass"] ==3 ]

print(f"In the first class, there are: {len(one_class)} persons")
print(f"In the second class, there are: {len(two_class)} persons")
print(f"In the thirth class, there are: {len(three_class)} persons")

In the first class, there are: 107 persons
In the second class, there are: 93 persons
In the thirth class, there are: 218 persons

In [192]:
## Group the data by sex of the passenger and calculate the fax(tasa) of survivor for each sex

female_survivor_amount = df.loc[(df["Sex"] == "F") & (df["Survived"] ==1)]

male_survivor_amount =  df.loc[(df["Sex"] == "M") & (df["Survived"] ==1)]

male_survivor_percent = (len(male_survivor_amount) / len(df)) *100
print(male_survivor_percent)
female_survivor_percent = (len(female_survivor_amount) / (len(df))) *100
print(female_survivor_percent)

0.0
36.27684964200477
419